.taller-header {
    height: 50px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    background-color: #a3731c;
    color: #fff;
    font-weight: 800;

    position: relative;

    .close-sesion {
        position: absolute;
        top: 0;
        right: 20px;
        display: flex;
        height: 100%;
        align-items: center;
        cursor: pointer;
        span {
        }
    }
}
